spring:
    application:
        name: auth-service
  ## MongoDB Properties - use docker to host mongodb container for connecting like this
    data:
      mongodb:
        uri: localhost://admin:password@mongodb:27017/purely_auth_service?authSource=admin
        #authentication-database: admin
        #username: admin
        #password: password
        #database: purely_auth_service
        #port: 27017
        #host: localhost
        #auto-index-creation: true        
server:
    port: 8081

eureka:
    client:
        serviceUrl:
            defaultZone: http://service-registry:8761/eureka/
    instance:
        prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    prometheus:
      enabled: true
  metrics:
    export:
      prometheus:
        enabled: true